/* Moving to less after 2.1.0 version approval */


/* Fonts */

@import url("//hello.myfonts.net/count/327214");
@font-face {font-family: 'ProximaNova-Bold';src: url('../fonts/327214_2_0.eot');src: url('../fonts/327214_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/327214_2_0.woff2') format('woff2'),url('../fonts/327214_2_0.woff') format('woff'),url('../fonts/327214_2_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';src: url('../fonts/327214_8_0.eot');src: url('../fonts/327214_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/327214_8_0.woff2') format('woff2'),url('../fonts/327214_8_0.woff') format('woff'),url('../fonts/327214_8_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-RegularIt';src: url('../fonts/327214_5_0.eot');src: url('../fonts/327214_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/327214_5_0.woff2') format('woff2'),url('../fonts/327214_5_0.woff') format('woff'),url('../fonts/327214_5_0.ttf') format('truetype');}

.fofa_pn{font-family: 'ProximaNova-Regular', sans-serif; font-weight: normal;}
.fofa_serif{font-family: 'Source Serif Pro', serif; font-weight: normal;}


/* Bootstrap upgrades */

/* 5 columns full width */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}


/* Main */

html{
  height: 100%;
  font-size: 10px;
}
@media (min-width: 768px) {
  html{ font-size: 12px; }
}
@media (min-width: 1200px) {
  html{ font-size: 14px; }
}

body{
  font-size: 1rem;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: normal;
  line-height: 1.5rem;
  background-color: #f7f7f7;
  color: #65666d;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: all 0.2s linear;
  cursor: pointer;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}
ol, ul {
  margin-bottom: 0px;
}


/* Forms */

.form-control, .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: solid 1px #dcdcdc;
}
.form-control{
  height: 43px;
  background-color: #fff;
  font-size: 16px; /* fixed to px units since all breaks have same font-size */
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: normal;
}

.btn-default {
  font-family: 'ProximaNova-Bold';
}

.btn-find-agent, .btn-find-agent:hover, .btn-find-agent:focus, .btn-find-agent:active {
  font-size: 13px; /* changed from spec since it we dont have semi-bold font */
  font-family: 'ProximaNova-Bold';
  height: 43px;
  border: solid 2px #0b4f6c;
  background-color: #0b4f6c !important;
  text-transform: uppercase;
  color: #fff !important;
  text-align: center;
  letter-spacing: 1px;
  padding: 6px 15px;
}
@media (min-width: 768px) {
  .btn-find-agent, .btn-find-agent:hover, .btn-find-agent:focus, .btn-find-agent:active {
    padding: 6px 30px;
  }
}

.btn-proceed {
  padding: 10px 80px;
  height: 50px;
  border-radius: 44px;
  border: solid 2px #0b4f6c;

  font-family: "ProximaNova-Bold";
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  text-align: center;
  background-color: #0b4f6c;
  color: #FFF;
  text-transform: uppercase;
}
.btn-proceed-disabled {
  color: #0b4f6c !important;
  background-color: #FFF !important;
  cursor: default !important;
}

#lead-generator button.btn-step {
  margin-bottom: 35px;
  width: 200px;
  height: 50px;
  clear: both;
  border-radius: 44px;
  background-color: #ffffff;
  box-shadow: 0 4px 0 0 #dcdcdc;
  border: solid 1px #dcdcdc;

  text-transform: uppercase;
  text-align: center;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #4a4a4a;
}
#lead-generator button.btn-step:hover {
  box-shadow: 0 2px 0 0 #9b9b9b;
  border: solid 1px #9b9b9b;
}

.option-boxes label input {
    visibility: hidden;
    position: absolute;
}
.option-boxes label {
    display: block;
    height: 20px;
    width: 20px;
}
.option-boxes label img {
    display: inline-block;
    padding: 0px;
    height: 20px;
    width: 20px;
    background: none;
}
.option-boxes label input:checked +img {
    background: url("../images/shared/green-check.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
}

/* Landing */

section {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
section h2 {
  margin:20px 0px 20px 0px;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: normal;
  font-size: 1.85rem;
  line-height: 2.3rem;
  font-weight: normal;
  text-align: center;
}
section .line {
  height: 1px;
  width: 30px;
  background-color: #dcdcdc;
  display: inline-block;
  vertical-align: super;
}
@media (min-width: 768px) {
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  section .line {
    height: 2px;
    width: 75px;
  }
}

/* Landing - Location */

section#location {
  padding-top: 0px;
  height: 310px;
  width: 100%;
  background: transparent no-repeat scroll center center / cover;
  background-image: url("../images/shared/header-image.png");
}
section#location {
  background-color: #f7f7f7;
  position: absolute;
  z-index: 1;
}
section#location-form-step {
  height: 730px;
  z-index: 9;
}
section#lead-type-form-step {
  z-index: 9;
}
section#location #location-form-container { /* Position on the actual form stablished always by its parent container */
  margin-top: 40px;
}
@media (min-width: 768px) {
  section#location #location-form-container {
    margin-top: 190px;
  }
  section#location {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  section#location {
    height: 730px;
  }
  section#location #location-form-container {
    margin-top: 238px;
  }
}

/* Landing - Agents */

section.top-agents {
  background-color: #fff;
  width: 100%;
}
section.top-agents .agents-container {
  min-width: 1170px;
  margin-left: -50%;
}
.top-agents h2{
  margin: 0px 2rem 40px 2rem;
  display: inline-block;
}
.top-agents article {
  padding: 0px 15% 0px 15%;
}
.top-agents article img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px
}
.top-agents article h3 {
  margin: 0px 0px 16px 0px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  text-align: center;
}
.top-agents article h3 span {
  color: #0b4f6c;
}
.top-agents article p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #9d9d9d;
}
@media (min-width: 768px) {
  .top-agents h2{
    margin: 0px 2rem 80px 2rem;
  }
  section.top-agents .agents-container {
    margin-left: auto;
  }
}

/* Landing - Features */

section.features{
  background-color: #f7f7f7;
  padding-bottom: 0px;
  width: 100%;
}
.features h2{
  margin: 0px 2rem 60px 2rem;
  display: inline-block;
}
.features article {
  padding:0px 10% 40px 10%;
}
.features article i {
  margin-bottom: 40px;
}
.features article h3{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.014rem;
  text-align: center;
}
.features article p {
  text-align: center;
  margin-bottom: 1.71rem;
  font-size: 16px;
  letter-spacing: 0.014rem;
  line-height: 24px;
  color: #9d9d9d;
}
@media (min-width: 768px) {
  .features article {
    padding:0px 10% 80px 10%;
  }
  .top-agents h2{
    margin: 0px 2rem 80px 2rem;
  }
}


/* Lead Generator */

#lead-generator {
  position: absolute;
}

section.extra-padding {
  padding-top: 35px; /* extra padding form steps, except location form. */
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  section.extra-padding {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  section.extra-padding {
    padding-top: 120px;
  }
}

#lead-generator h1 {
  font-family: 'Source Serif Pro';
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #65666d;

  margin: 0px 0px 25px 0px;
}

#lead-generator h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin:0px 0px 20px 0px;
}
@media (min-width: 768px) {
  #lead-generator h3 {
    font-size: 18px;
    line-height: 27px;
  }
}

/* Lead Generator - Map Wrapper */

.section-map-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #AAD5D4;
}
.section-map-wrapper.second-relation {
  background: none;
}
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: 0;
  background-color: #AAD5D4;
}
.section-map-wrapper .map-opacity-layer {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
}
.section-map-wrapper section {
  z-index: 2;
  position: relative;
  height: 100%;
}
@media (min-width: 1200px) {
  .section-map-wrapper {
    height: 730px;
  }
}

/* Lead Generator - Progress Bar */

#progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 8;
  width: 100%;
}
#progress-bar .completion {
  background-color: #6dbf88;
  height: 10px;
}
#progress-bar.loaded-10 .completion { width: 10%; }
#progress-bar.loaded-20 .completion { width: 20%; }
#progress-bar.loaded-30 .completion { width: 30%; }
#progress-bar.loaded-40 .completion { width: 40%; }
#progress-bar.loaded-50 .completion { width: 50%; }
#progress-bar.loaded-60 .completion { width: 60%; }
#progress-bar.loaded-70 .completion { width: 70%; }
#progress-bar.loaded-80 .completion { width: 80%; }
#progress-bar.loaded-90 .completion { width: 90%; }
#progress-bar.loaded-100 .completion { width: 100%; }
#progress-bar span {
  font-size: 18px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  color: #6dbf88;
  margin-bottom: 10px;
  display: block;
}
@media (min-width: 1200px) {
  #progress-bar span {
    text-align: right;
  }
  /* if it isn't mobile/tablet then span is not centered and move with the progress bar */
  #progress-bar.loaded-10 span { width: 10%; }
  #progress-bar.loaded-20 span { width: 20%; }
  #progress-bar.loaded-30 span { width: 30%; }
  #progress-bar.loaded-40 span { width: 40%; }
  #progress-bar.loaded-50 span { width: 50%; }
  #progress-bar.loaded-60 span { width: 60%; }
  #progress-bar.loaded-70 span { width: 70%; }
  #progress-bar.loaded-80 span { width: 80%; }
  #progress-bar.loaded-90 span { width: 90%; }
  #progress-bar.loaded-100 span { width: 99%; }
}

/* Lead Generator - Location Step */

section#location-form-step #location-form-container { /* Position on the actual form stablished always by its parent container */
  margin-top: 20px;
}
@media (min-width: 768px) {
  section#location-form-step #location-form-container {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  section#location-form-step #location-form-container {
    margin-top: 160px;
  }
}

/* Lead Generator - Lead Type */

.lead-type a {
  font-family: 'Source Serif Pro';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
  text-decoration: underline;
}

/* Lead Generator - Price Range */

#price-range-form-step button.btn-step {
  width: 140px;
  height: 40px;
  font-size: 14px;
}
@media (min-width: 768px) {
  #price-range-form-step button.btn-step {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
}

/* Lead Generator - Home Type */

#home-type-form-step .box-option {
  margin-bottom: 25px;
}
#home-type-form-step .box-option label {
  position: absolute;
  bottom: 7px;
  left: 36px;
}
@media (min-width: 768px) {
  #home-type-form-step .box-option {
    margin-bottom: 35px;
  }
  #home-type-form-step .box-option label {
    position: absolute;
    bottom: 7px;
    left: 50px;
  }
}

/* Lead Generator - Agent Hero */

#agent-hero-form-step h1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 25px;
  max-width: 500px;
}

/* Lead Generator - Basic Information */

#basic-personal-info-form-step h1 {
  margin-bottom: 10px;
}

#basic-personal-info-form-step h3 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#basic-personal-info-form-step input {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

/* Lead Generator - Personal Information */

.item-circle {
  border-radius: 50%;
  padding: 5px 7px;
  background-color: #6dbf88;
  color: #FFF;
  text-align: center;
  margin-right: 5px;

  font-family: 'ProximaNova-Bold';
  font-size: 1.1rem;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .item-circle {
    padding: 8px 12px
  }
}
@media (min-width: 1200px) {
  .item-circle {
    padding: 10px 15px;
  }
}

/* Lead Generator - Contact Information */

#contact-personal-info-form-step h1 {
  margin-bottom: 10px;
}

#contact-personal-info-form-step .items {
  margin: 35px 0px 20px 0px;
  font-size: 16px;
  color: #9b9b9b;
}
#contact-personal-info-form-step .items div {
  text-align: left;
  margin-bottom: 15px;
}

#contact-personal-info-form-step input {
  margin-bottom: 20px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#contact-personal-info-form-step input.last {
  margin-bottom: 10px;
}

/* Lead Generator - Searching */

#searching-form-step .search-animation {
  margin-top: 45px;
  margin-bottom: 30px;
  width: 300px;
}
@media (min-width: 1200px) {
  #searching-form-step .search-animation {
    /* width: 300px; */
  }
}


/* Shared */

/* Shared - NavBar */

.navbar{
  background-color: #fff;
  border: 0px;
  height: 55px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  border-radius: 0px;
  z-index: 2;
}
.navbar .container-fluid {
  max-width: 1440px; /* Keep it simple strategy :p */
}
.navbar .navbar-header {
  float: left;
}
.navbar .navbar-right {
  float: right;
}
@media (min-width: 768px) {
  .navbar{
    height: 75px;
  }
}
.navbar-brand{
  margin-left: 30px !important;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .navbar-brand{
    margin-top: 20px;
  }
}
.navbar-right{
  margin-right: 29px !important;
  margin-top: 21px;
}
.navbar-right a{
  color: #4a4a4a;
  font-family: 'ProximaNova-Bold';
}
@media (min-width: 768px) {
  .navbar-right{
    margin-top: 29px;
  }
}

/* Hint Support */

#agent-support {
  position: absolute;
  right: 0;
  bottom: 120px;
  width: 330px;
}
#agent-support .assistant-placeholder {
  position:relative;
  height: 120px;
  width: 170px;
}
#agent-support i.assistant {
  position: absolute;
  right: -90px;
  top: 30px;
}
#agent-hint {
  position: absolute;
  top: 120px;
  right: 0;
  width: 330px;
  bottom: 280px;
}

/* Shared - Location Inner Form */

#location-form-container {
  text-align: center;
}
#location-form-container h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;

  margin: 0px 0px 6px 0px;
}
#location-form-container h2 {
  font-family: 'ProximaNova-Regular', serif;
  font-size: 1.6rem;
  line-height: 2rem;

  margin: 0px 0px 20px 0px;
}
@media (min-width: 768px) {
  #location-form-container h2 {
    margin: 0px 0px 15px 0px;
  }
}
@media (min-width: 1200px) {
  #location-form-container h1 {
    font-size: 1.71rem; /* Since this depends on root font-size over html tag */
  }
  #location-form-container h2 {
    font-size: 1.14rem;
  }
}
#location-form-container .location-selected {
  position: relative;
}
#location-form-container .location-selected input {
  padding-left: 36px;
}
#location-form-container .location-icon {
  display: none !important;
}
#location-form-container .location-selected .location-icon {
  position: absolute;
  left: 15px;
  top: 14px;
  z-index: 4;
  display: inline-block !important; /* to achieve location-selected icon show without javascript */
}

/* Shared - Our-customers */

section.our-customers{
  background-color: #fff;
  width: 100%;
}
section.our-customers .line {
  vertical-align: top;
  margin-top: 12px;
}
.our-customers .container {
  position: relative;
}
.our-customers h2{
  width: 200px;
  margin: 0px 2rem 40px 2rem;
  display: inline-block;
}
.our-customers .customers-gallery {
  margin-bottom: 30px;
  width: 486px;
  margin-left: -10%;
  overflow: hidden; /* This container keeps the same size in all break lines so it has this to avoid horizontal scroll */
}
.our-customers .customers-gallery img{
  width: 80px;
  height: 80px;
  background-color: transparent;
  margin: 0px 0.5rem 0px 0.5rem;
  display: inline-block;
}
.our-customers .customer-valoration {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 4px;
}
.our-customers .customer-valoration p {
  margin-bottom: 40px;
  font-size: 16px;
  letter-spacing: 0.014rem;
  line-height: 24px;
  color: #9d9d9d;
  font-family: 'ProximaNova-RegularIt';
}
.our-customers .customer-valoration h3 {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.014rem;
  text-align: center;
}
.our-customers .customer-valoration h3 span {
  color: #0b4f6c;
}
.our-customers .slider-ctrl-left, .our-customers .slider-ctrl-right{
  position: absolute;
  top: 70%;
}
.our-customers .slider-ctrl-left{
  left: 5%;
}
.our-customers .slider-ctrl-right{
  right: 5%;
}
@media (min-width: 768px) {
  .our-customers h2 {
    width: auto;
    margin: 0px 2rem 80px 2rem;
  }
  section.our-customers .line {
    vertical-align: super;
    margin-top: 12px;
  }
  .our-customers .customer-valoration {
    padding: 50px;
  }
  .our-customers .customers-gallery {
    margin-left: auto;
  }
}

/* Shared - Blog-Latest */

section.blog-latest{
  background-color: #f7f7f7;
  padding-bottom: 0px;
  width: 100%;
}
.blog-latest h2{
  margin: 0px 2rem 40px 2rem;
  display: inline-block;
}
.blog-latest article {
  padding:0px 10% 40px 10%;
}
.blog-latest article .body {
  height: 430px;
}
.blog-latest article img {
  margin-bottom: 20px;
  width: 100%;
}
.blog-latest article h3 {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.014rem;
}
.blog-latest article p {
  font-size: 16px;
  letter-spacing: 0.014rem;
  line-height: 24px;
  color: #9d9d9d;
  margin-bottom: 0px;
}
.blog-latest article a {
  color: #6dbf88;
  text-transform: uppercase;
  letter-spacing: 0.014rem;
  font-size: 14px;
  font-family: 'ProximaNova-Bold';
}
@media (min-width: 768px) {
  .blog-latest h2 {
    margin: 0px 2rem 80px 2rem;
  }
  .blog-latest article {
    padding:0px 10% 60px 10%;
  }
  .blog-latest article .body {
    height: 480px;
  }
}
@media (min-width: 1200px) {
  .blog-latest article .body {
    height: 450px;
  }
}

/* Shared - Partners */

section.partners{
  background-color: #fff;
  padding-bottom: 0px;
  width: 100%;
}
.partners .partner-logo{
  height: 100px;
}
.partners h2{
  margin: 0px 2rem 40px 2rem;
  display: inline-block;
}
@media (min-width: 768px) {
  .partners h2{
    margin-bottom: 45px;
    display: inline-block;
  }
  section.partners{
    padding-bottom: 80px;
  }
}

/* Shared - Footer */

footer {
  padding-top:40px;
  width: 100%;
}
footer .col-alignment {
  text-align: left;
}
footer.footer {
  text-align: left;
  background-color: #f7f7f7;
}
.footer a {
  color: #9d9d9d;
  letter-spacing: 0.014rem;
}
.footer a:hover, .footer a:focus{
  color: #65666d;
}
.footer .maf-logo {
  width: 163px;
  height: 36px;
  margin-bottom: 40px;
}
.footer h3 {
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  margin-top: 0px;
  font-size: 14px;
}
.footer ul {
  padding-left: 0px;
  padding-bottom: 40px;
}
.footer ul li {
  list-style: none;
  margin-bottom: 5px;
  color: #9d9d9d;
  font-size: 16px;
  line-height: 24px;
}
.footer .footer-inner {
  border-top: 1px solid #dcdcdc;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
}
.footer .footer-inner a {
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding-top:60px;
  }
  footer .col-alignment {
    text-align: center;
  }
  footer .col-alignment > .center {
     float: none;
     display: inline-block;
     text-align: left;
  }
  .footer ul {
    padding-bottom: 60px;
  }
  .footer .maf-logo {
    margin-top: 30%;
    margin-bottom: auto;
    width: 140px;
    height: auto;
  }
  .footer .footer-inner {
    border-width: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 992px) {
  .footer .maf-logo {
    width: 163px;
    height: 36px;
  }
}


/* Skins/Boxes/Themes */

.box-shadow-white {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  padding: 30px;
}

.box-widget-a {
  position: relative;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  padding: 8px 12px;

  font-size: 1.14rem;
  text-align: center;
  color: #65666d;
}
.box-widget-a.box-widget-padding {
  padding: 30px 27px;
}
.box-widget-a h2 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.28rem;
  line-height: 1.7rem;
  font-weight: 600;
  color: #0b4f6c;
  margin: 0px 0px 15px 0px;
}
.box-widget-a p {
  text-align: left;
}
.box-widget-a .quantity {
  font-size: 3.42rem;
  line-height: 4rem;
  font-family: 'ProximaNova-Bold';
  text-align: center;
  color: #6dbf88;
}
.box-widget-a input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #dcdcdc;
  margin-bottom: 8px;
  padding:0px 5px;
}
.box-widget-a button {
  height: 30px;
  border-radius: 4px;
  border: solid 1px #dcdcdc;
  font-family: 'ProximaNova-Bold';
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.2px;
  text-align: left;
  color: #0b4f6c;
  background-color: #FFF;
  padding: 1px 15px 0px 20px;
  vertical-align: text-bottom;
}
.box-widget-a button:hover {
  color: #FFF;
  border-color: #0b4f6c;
  background-color: #0b4f6c;
}
.box-widget-a button .arrow-right {
  width: 18px;
  height: 10px;
  margin-left: 4px;
}
.box-widget-a button:hover .arrow-right {
  background: url("../images/shared/arrow-right-over.png"); background-size: contain;
}

.box-option {
  width: 92px;
  height: 110px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 0 0 #dcdcdc;
  border: solid 1px #dcdcdc;
  position: relative;
  text-align: center;
  padding: 11px;

  font-size: 1.14rem;
}
.box-option.active {
  box-shadow: 0 2px 0 0 #9b9b9b;
  border: solid 1px #9b9b9b;
}
@media (min-width: 768px) {
  .box-option {
    width: 120px;
    height: 120px;
  }
}

.disclaimer {
  letter-spacing: 0.2px;
  color: #9b9b9b;
  font-size: 14px;
}
.disclaimer a {
  color: #0b4f6c;
}


/* Icons/Images */

i, .i{background-color: transparent; background-position:0px 0px; display: inline-block; background-repeat: no-repeat; }
.i { height: 12px; width: 12px; }
.i24 { height: 24px; width: 24px; }
.iveal .i, button .i{vertical-align: sub}
@media (min-width: 768px) {
  .i{ height: 14px; width: 14px; }
  .iveal .i, button .i{vertical-align: middle}
}
@media (min-width: 1200px) {
  .i{ height: 16px; width: 16px; }
}

a.maf-logo {
  display: block;
  background-image: url("../images/shared/agent-finder-logo.png");
  background-repeat: no-repeat;
  height: 22px; width: 100px;
  background-size: contain;
}
@media (min-width: 768px) {
  a.maf-logo{
    height: 36px; width: 163px;
  }
}

.phone16{background: url("../images/shared/phone-5231.svg") no-repeat scroll; background-size: contain;}
.arrow-right{background: url("../images/shared/arrow-right.png") no-repeat scroll; background-size: contain;}

i.location-icon {width: 11px; height: 16px; background: url("../images/shared/location.svg") no-repeat scroll;}
i.shield { background-image: url("../images/landing/icon-shield.png"); width: 34px; height: 41px; }
i.brokerage { background-image: url("../images/landing/icon-brokerages.png"); width: 39px; height: 38px; }
i.fast { background-image: url("../images/landing/icon-fast.png"); width: 40px; height: 40px; }
i.big-arrow-left, i.big-arrow-right {width: 13px; height: 24px; cursor: pointer;}
i.big-arrow-left {background: url("../images/shared/icon-chevron-left.png") no-repeat scroll;}
i.big-arrow-right {background: url("../images/shared/icon-chevron-right.png") no-repeat scroll;}
i.facebook-xs, i.twitter-xs, i.google-xs { width: 20px; height: 15px; background-position-x: center; vertical-align: text-bottom;}
i.facebook-xs { background-image: url("../images/shared/icon-facebook.png");}
i.twitter-xs { background-image: url("../images/shared/icon-twitter.png");}
i.google-xs { background-image: url("../images/shared/icon-google.png"); height: 13px}
i.assistant { background-image: url("../images/demo/assistant.png"); width: 74px; height: 74px; }

/* Lead Generator Form */

i.empty-lot-icon {background: url("../images/lead-generator/empty-lot-icon.png") no-repeat scroll;}
i.commercial-icon {background: url("../images/lead-generator/icon-commercial.png") no-repeat scroll;}
i.condominium-icon {background: url("../images/lead-generator/icon-condominium.png") no-repeat scroll;}
i.mobilehome-icon {background: url("../images/lead-generator/icon-mobilehome.png") no-repeat scroll;}
i.singlefamily-icon {background: url("../images/lead-generator/icon-singlefamily.png") no-repeat scroll;}
i.tic-icon {background: url("../images/lead-generator/icon-t-i-c.png") no-repeat scroll;}
i.search-animation {height: 100px; background: url("../images/lead-generator/maf-searching.gif") no-repeat scroll; background-size: contain;}

/* Partners */

i.coldwell-partner { background-image: url("../images/landing/coldwell.png"); width: 122px; height: 51px; }
i.century-partner { background-image: url("../images/landing/century.png"); width: 101px; height: 45px; }
i.sothebys-partner { background-image: url("../images/landing/sothebys.png"); width: 148px; height: 41px; }
i.kw-partner { background-image: url("../images/landing/kw.png"); width: 111px; height: 51px; }
i.berkshire-partner { background-image: url("../images/landing/berkshire.png"); width: 129px; height: 49px; }
i.remax-partner { background-image: url("../images/landing/remax.png"); width: 119px; height: 33px; }

/* Retina Images */

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    a.nav-logo {
      background-image: url("../images/shared/agent-finder-logo@3x.png");
    }

    section#location {
      background-image: url("../images/shared/header-image@3x.png");
    }

    i.shield { background-image: url("../images/landing/icon-shield@3x.png"); background-size: contain;}
    i.brokerage { background-image: url("../images/landing/icon-brokerages@3x.png"); background-size: contain;}
    i.fast { background-image: url("../images/landing/icon-fast@3x.png"); background-size: contain;}

    i.big-arrow-left {background: url("../images/shared/icon-chevron-left@3x.png"); background-size: contain;}
    i.big-arrow-right {background: url("../images/shared/icon-chevron-right@3x.png"); background-size: contain;}
    i.facebook-xs { background-image: url("../images/shared/icon-facebook@3x.png"); background-size: contain;}
    i.twitter-xs { background-image: url("../images/shared/icon-twitter@3x.png"); background-size: contain;}
    i.google-xs { background-image: url("../images/shared/icon-google@3x.png"); background-size: contain;}
    i.assistant { background-image: url("../images/demo/assistant@3x.png"); background-size: contain;}

    i.coldwell-partner { background-image: url("../images/landing/coldwell@3x.png"); background-size: contain;}
    i.century-partner { background-image: url("../images/landing/century@3x.png"); background-size: contain;}
    i.sothebys-partner { background-image: url("../images/landing/sothebys@3x.png"); background-size: contain;}
    i.kw-partner { background-image: url("../images/landing/kw@3x.png"); background-size: contain;}
    i.berkshire-partner { background-image: url("../images/landing/berkshire@3x.png"); background-size: contain;}
    i.remax-partner { background-image: url("../images/landing/remax@3x.png"); background-size: contain;}
  }


/* Utilities/Microstyling */

.ma0{margin: 0} .male0{margin-left: 0} .mari0{margin-right: 0} .mato0{margin-top: 0} .mabo0{margin-bottom: 0}
.mabo1{margin-bottom: 10px}
.male3{margin-left: 15px} .mari3{margin-right: 15px} .mabo3{margin-bottom: 30px}
.male4{margin-left: 20px}

@media (min-width: 1200px) {
  .mabo2{margin-bottom: 15px}
  .male3{margin-left: 30px} .mari3{margin-right: 30px}
  .male4{margin-left: 50px}
}

.small-col-padding{padding-left: 10px !important; padding-right: 10px !important;}
.no-col-padding{padding-left: 0px !important; padding-right: 0px !important;}
.mawi90{max-width: 90%;}
.fost_it{font-style: italic;}
.teal_ce{text-align: center !important;} .teal_ri{text-align: right !important;} .teal_le{text-align: left !important;}

.centered {
   text-align: center;
}
.centered > .center {
   float: none;
   display: inline-block;
   text-align: left;
}
